/* Common styles */
.onlineBz-container {
    background-color: rgb(3, 0, 26);
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
  }
  
  .onlineBz-container h1,
  .onlineBz-container p {
    margin: 0;
  }
  
  /* Styles for container 1 */
  .onlineBz-container-1 {
    width: 40%;
    font-size: 1.5rem;
  }
  
  @media screen and (max-width: 800px) {
    .onlineBz-container-1 {
      width: 100%;
      font-size: 1rem;
    }
  }
  
  /* Styles for container 2 */
  .onlineBz-container-2 {
    width: 40%;
    font-size: 1.5rem;
  }
  
  @media screen and (max-width: 800px) {
    .onlineBz-container-2 {
      width: 100%;
      font-size: 1rem;
    }
  }
  
  /* Styles for images */
  .onlineBz-container-1-img img,
  .onlineBz-container-2-img img {
    width: 100%;
  }
  
  @media screen and (max-width: 800px) {
    .onlineBz-container-1-img img,
    .onlineBz-container-2-img img {
      height: auto;
    }
  }
  





  /* Button styles */
.onlineBz-container-1-btn,
.onlineBz-container-2-btn {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #5c81e6 71.54%,
    #0e1d72 100%
  );
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: 1rem; /* Adjust as needed */
  color: white;
  text-align: center;
}

.onlineBz-container-1-btn:hover,
.onlineBz-container-2-btn:hover {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #1c3a8b 71.54%,
    rgb(30, 36, 122) 100%
  );
}

.onlineBz-container-1-btn:active,
.onlineBz-container-2-btn:active {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #1a1736 71.54%,
    #0e072c 100%
  );
}

/* Adjustments for small screens */
@media screen and (max-width: 800px) {
  .onlineBz-container-1-btn,
  .onlineBz-container-2-btn {
    padding: 0.8rem 1.6rem;
    margin-top: 0.5rem; /* Adjust as needed */
  }
}
