footer {
    background-color: #333;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

hr {
    border: none;
    border-top: 1px solid #fff;
    margin-bottom: 2rem;
}

.footer-img {
    width: 50px; /* Adjust image width */
    height: auto;
}

.footer-logo-text {
    font-size: 1.5rem;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.footer-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-container th {
    color: #fff;
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer-container li {
    margin-bottom: 0.5rem;
}

/* Media queries */

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-container ul {
        text-align: left;
    }

    .footer-container th {
        margin-bottom: 0.5rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .footer-container {
        flex-direction: row;
    }

    .footer-container ul {
        flex: 1;
        text-align: center;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    footer {
        padding: 2rem;
    }
}
